<div class="navbar bg-warning">
  <span class='navbar-text'>You have not configured your organization yet. In order to do that <%= link_to "click here", new_account_path %> or check your invitations <%= link_to 'here', invitations_path %>.</span>
</div>
